@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(212, 53, 53);
    text-transform: capitalize;
}

.navbar a {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

.collapse{
    transform: translate(100px, 10px);
}

.navbar-brand{
    font-weight: bold;
    font-size: x-large;
}
.navbar-brand span {
    color: aqua !important;
}

.navbar-toggler i {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 2px;
}
.nav-item{
    text-align: center;
    
}
.nav-item:hover{
    background-color:rgb(35, 31, 31);
    
}

.jumbotron{
    height: 350px;
    background-color: rgb(212, 53, 53);
    background-image: url(img/legofondo.jpeg);
    background-size: cover;
    background-position: center;
    color: azure;
    text-align: end;
    border-radius: 0% ;
    margin-bottom: 0%;
}

.intron{
    color: white;
    width: auto;
    float: right;
    background-color: rgba(0, 0, 0, 0.575);
    border: 3px solid red;
    padding: 35px;
    font-family: 'Oswald', sans-serif;
    
}

.intron a{
    text-decoration: none;
    color: white;
    background-color: rgb(212, 53, 53);
    padding: 7px;
    border-radius: 5px;
    text-transform: capitalize;
}

.intron a:hover {
    color: black;
    text-decoration: none;
    border: 2px solid red;
}

h2 {
    text-align: center;
    background-color: rgb(212, 53, 53);
    color: aliceblue;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 0;
}

.carousel-item {
    height: 400px;
    background-size: cover !important;
    background-position: center !important;
}
.carousel-caption{
    font-family: 'Oswald', sans-serif;
    color: black;
}
.carousel-caption h3{
    text-transform: capitalize;
}

.img-juego{
    background-color: rgb(212, 53, 53);
    background-image: url(img/toymanonene.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.titulo-juego{
    background-color: rgb(212, 53, 53);
    color: white;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    padding: 20PX;
    
}
h3::selection{
    background-color: white;
    color:rgb(212, 53, 53) ;
}
p::selection{
    background-color: white;
    color:rgb(212, 53, 53) ;
}
.titulo-juego h3{
    text-align: center;
}
.titulo-juego a{
    color: black;
    background-color: white;
    padding: 10px 20px;
}

.img2{
    background-image: url(img/chess.jpeg);
}
.img3{ 
    background-image: url(img/legofondo.jpeg);
}

h4{
    text-align: center;
    background-color: rgb(212, 53, 53);
    border: 5px solid rgb(43, 43, 191);

}

footer {
    text-align: center;
    font-size: 30px; 
    background-color: rgb(43, 43, 191);
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;

} 

footer p {
    margin-bottom: 15px;
}

footer i {
    font-size: 50px;
    letter-spacing: 20px;
    color: rgb(212, 53, 53);
}

.subir {
    height: 10px;
    width: 10px;
    color: rgb(212, 53, 53);
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}


#airelibre {

}

#juguetes {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: bisque;
    background-image: url(img/ironman.jpeg);
    background-size: cover;
    background-position: center
}

#juegos {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: bisque;
    background-image: url(img/chess.jpeg);
    background-size: cover;
    background-position: center
}

#edad {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: bisque;
    background-image: url(img/toymanonene.jpeg);
    background-size: cover;
    background-position: center
}


#bebe {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: bisque;
    background-image: url(img/bebe.jpeg);
    background-size: cover;
    background-position: center
}